/M03_Herramientas_Big_Data/U2_Hadoop/Win_UbuntuMate
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E1_enunciado.pdf
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E1_solucion.pdf
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E2_enunciado.pdf
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E2_solucion.pdf
