/M03_Herramientas_Big_Data/U2_Hadoop/Win_UbuntuMate
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E1_enunciado.pdf
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E1_solucion.pdf
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E2_enunciado.pdf
M03_Herramientas_Big_Data/UX_Material_Extra/BigData_Supuestos/E2_solucion.pdf
M03_Herramientas_Big_Data/U4_Otros/Windows Creación de una máquina virtual de Linux.mp4
M03_Herramientas_Big_Data/UT_Final_Project/datasets/precio_md.csv
M03_Herramientas_Big_Data/UT_Final_Project/datasets/preveol.csv
M03_Herramientas_Big_Data/UT_Final_Project/datasets/prvdem.csv
M03_Herramientas_Big_Data/UT_Final_Project/TFHerramientasBigData_BorjaInsausti.pdf
